body {
    background-color: lightblue;
    }
   
    h1 {
    color: navy;
    margin-left: 20px;
    }

    p {
        font-family: to,Arial, Helvetica, sans-serif;
        font-size: 15px;
    }